*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
.container-1{
    width: 100%;
    height: 100vh;
    background-color: rgb(4, 4, 34);
    position: absolute;

}
.login{
    width: 350px;
    height: 550px;
    position: relative;
    margin: 6% auto;
    color: white;
    padding: 5px;
    overflow: hidden;
}
.heading img{
    width: 20%;
    height: 40px;
    margin-top: 20px;
    margin-left: 130px;
    margin-bottom: 40px;
    color: white;
}
.heading h1{
    text-align: center;
    font-size: 20px;
    font-weight: 900px;
}
.heading h2{
    text-align: center;
    font-size: 18px;
    font-weight: 200px;
    margin-top: 10px;
}
.btn{
    width: 220px;
    margin: 35px auto;
    position: relative;
   /* box-shadow: 0 0 20px 9px #ff62241f;*/
    
}
.btn1{
    padding: 10px 25px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    text-decoration: underline;
    color: white;
}
.input-grp{
    top: 300px;
    position: absolute;
    width: 280px;
    margin-left: 10px;
}
input{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-radius: 10px;
    border: none;
    background-color: white;
    text-align: center;

}
#country{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-radius: 10px;
    border: none;
    background-color: white;
    text-align: center;

}
#buton1{
    width: 80px;
    height: 30px;
    background-color: rgb(0, 140, 255);
    margin-left: 20px;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 10px;
    color: white;
}
#fr{
    cursor: pointer;
    margin-top: 10px;
}
.social{
    margin: 30px auto;
    text-align: center;
    color: black;
    margin-top: 200px;
    font-size: 15px;
    cursor: pointer;
    color: white;
}
.sp{
    font-size: 15px;
    margin-right: 60px;  
    color: white;
    margin-top: 30px;
}
#reg{
    width: 80px;
    height: 30px;
    background-color: rgb(0, 140, 255);
    margin-left: 20px;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 10px;
    color: white;
}
#fb{
    color: blue;
    font-size: 25px;
    margin-right: 10px;
}
#gog{
    color: orange;
    font-size: 25px;
    margin-right: 10px;
}
#ind{
    color:blue;
    font-size: 25px;
    margin-right: 10px;
}
#login{
    left: 10px;
}
#register{
    left:10px;
}